/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* top players styles start */
main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding-left: 30px;
}

.section-titel {
    font-size: 24px;
    color: #562EFF;
    font-weight: 500;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player {
    display: flex;
    align-items: center;
}

.player-name {
    font-size: 18px;
    margin-left: 16px;
    font-weight: 500;
}

hr {
    width: 807px;
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}

/* top players styles end */